$font-color:#fff;
$icon-size:30px;
$primary-color:#008ed6;
$body-color:rgb(59, 56, 56);
body{
    background-color: $body-color;
    color: $font-color;
}
.navbar{
    opacity: 0.7;
    border-bottom: 2px solid rgba(8, 99, 236, 0.842);
}
#home-section{
    background: url(../img/home.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
    .dark-overlay{
        background: rgba(0,0,0,0.6);
        min-height: 700px;
    }
    .home-inner{
        padding-top: 150px;
        padding-bottom: 50px;
    }
    .card-form{
        opacity: 0.8;
    }
    .fa{
        background: $font-color;
        color: $primary-color;
        padding: 5px;
        font-size: $icon-size;
        border-radius: 5px;
    }
}
#blog-main{
    .fa{
        background: red;
        color: $font-color;
        padding: 5px;
        font-size: $icon-size;
        border-radius: 5px;
    }
}
#explore-main{
    .fa{
        background: $font-color;
        color: $primary-color;
        padding: 5px;
        font-size: $icon-size;
        border-radius: 5px;
    }
}
#share-main{
    .fa{
        background: dodgerblue;
        color: $font-color;
        padding: 5px;
        font-size: $icon-size;
        border-radius: 5px;
    }
}
#contact-main{
    background: rgb(122, 98, 98);
    .fa{
        background: rgb(4, 89, 216);
        color: $font-color;
        padding: 5px;
        font-size: $icon-size;
        border-radius: 5px;
    }
}









@media(max-width:575px){
    #home-section{
        .row h1{
            font-size: 27px;
        }
        .row p{
            font-size: 17px;
            padding:0;
        }
         .fa{
            font-size: 25px;
            padding: 3px;
        }
    }
}